<section> 
  <h1 class="text-red-900 text-center text-2xl " > Hello world brother </h1>
  <div class="flex justify-center" >
    <h3 class="text-center bg-gray-500 rounded-lg px-10 py-2  "  > hack zbi ta howa</h3>
  </div>
</section>

{% schema %}
{
  "name" : "Banner",
  "settings": [],
  "presets" : [
    {
      "name" : "banner"
    }
  ]
}
{% endschema %}